@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root{
    --color_text-primary: #309C13;
    --color_text-secundary: #101E2C;
    --color_text-tertiary: #155404;
    --main_color-primary: #155404;
    --main_color-secundary: #8ADA74;
    --background-color: #EFF0EF;
    --lowText_font_size: 16px;
    --text_size_title: 40px;
    --text_title_card: 24px;
    --text_title_cardv2: 20px;
    --text_paragraph: 16px;
    --box_shadow-primary: 0px 6px 50px -20px rgba(0,0,0,0.2);
}


header{
    width: 100%;
    height: 120px;
    position: fixed;
    z-index: 100;
    
}
.container__header{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    
}


.logo{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}


.logo img{
    width: 170px;
}

.menu{
    display: flex;
    align-items: center;
    margin: auto;
}

.menu nav{
    margin: 0px 20px;
}

.menu nav ul{
    display: flex;
}

.menu nav ul li{
    list-style: none;
    margin: 20px 16px;
}

.menu nav ul li a{
    color: #E53935;
    
    position: relative;
    margin-right: 8px;
}

.menu nav ul li a:hover{
    color: #4A343A;
    transition: all 500ms;
}

.boton{
    display: block;
    padding: 8px 40px;
    border: 2px solid #E53935 ;
    border-radius: 8px;
    font-weight: 500;
    color: #E53935;
    margin: 0px 20px;   
    transition: all 500ms;
}

.boton:hover{
    color: #4A343A;
    background: #E53935;
}

.menu .redes_sociales{
    margin: 0px 10px;
}

.menu .redes_sociales a{
    margin: 0px 4px;
}

.menu .redes_sociales img{
    width: 20px;
}

/* fin del menú */

/* inicio container cover */

.container_cover{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #B0BEC5;
}

.cover{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.texto_cover{
    width: 100% ;
    padding-right: 150px;
}

.texto_cover h1{
    font-size: 50px;
    padding-right: 150px;
    color: #4A343A;
}

.texto_cover p{
    font-size: 14px;
    margin-top: 40px;
    color: #455A64;
}

.boton_texto_cover{
    display: block;
    width: 150px;
    margin-top: 40px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 500;
    background: hsl(1, 77%, 55%);
    color: #4A343A;
    border-radius: 8px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 300ms;
}


.boton_texto_cover:hover{
    transition: all 500ms;
    border: 2px solid #E53935;
    background: transparent;
}

.imagen_cover{
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen_cover img {
    width: 550px;
    margin: auto;
    border-radius: 40px; 
    box-shadow: 0 0 0 rgba(0, 0, 0, 0); 
    transition: transform 500ms ease, box-shadow 500ms ease;
}

.imagen_cover img:hover {
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}

/*generador de confianza*/
.container_de_confianza{
    padding-top: 100px;
}

.inicio_de_confianza{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 20px;
}


.texto_de_confianza{
    max-width: 800px;
    margin:auto;   
    text-align: center;
}

.texto_de_confianza p{
    color: brown;
    letter-spacing: 4px;
    font-size: 16px;
    font-weight: 500;
}

.texto_de_confianza h1{
    font-size: 40px;
    font-weight: 600;
    color: #32369f7d;
}

.targetas_confianza{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.targetas{
    max-width: 350px;
    padding: 60px 40px;
    border: 1px solid #e6e6e6;
    border-radius: 20px;
    margin: 14px;
    transition: all 500ms;
}

.targetas:hover{
    border: 2px solid transparent;
    box-shadow: 0px 6px 50px -20px rgba(0,0,0,0.2);
}

.targetas img{
    width: 100px;
    height: 100px;
    border-radius: 20px;
}
.targetas h2{
    font-size: 24px;
    margin-top: 40px;
    font-weight: 500;
}

.targetas p{
    margin-top: 20px;
}

/*Sobre Nosotros*/

.container_nosotros{
    padding: 100px 0px;
    background:#B0BEC5 ;
    margin-top: 100px;
}

.nosotros{
    max-width: 1200px;
    margin: auto;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto_nosotros{
    width: 100%;
    padding-right: 40px;
}

.texto_nosotros h1{
    color: #32369f7d ;
    font-weight: 600;
}

.texto_nosotros p{
    font-size: 16px;
    margin-top: 40px;
    color: #4A343A;
}


.imagen_nosotros{
    width: 100%;
    display: flex;
}

.imagen_nosotros img{
    width: 300px;
    height: 300px;
    border-radius: 20% 50%;
    margin: 10px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0); 
    transition: transform 500ms ease, box-shadow 500ms ease;
}
.imagen_nosotros img:hover{
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}

/*End Sobre Nosotros*/


/*Servicios*/

.targetas img{
    width: 84px;
    margin: auto;
    height: 84px;
}

.targetas i{
    font-size: 24px;
    margin-top: 20px;
    cursor: pointer;
    color: red;
}

/*End Servicios*/


/*Proyectos*/

.contenedor_proyectos{
    padding: 100px 0px;
    background: #B0BEC5;
    margin-top: 100px;
}

.container_targeta_proyecto {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.targeta_proyecto h2, .targeta_proyecto p {
    margin: 0;
}


.targeta_proyecto {
    width: 300px;
    height: 300px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    color: #473036;
    text-align: left;
    background-size: cover;
    background-position: center;
    margin: 15px;
    transition: transform 0.3s ease; /* Añadido aquí para la transición de salida */
}

.targeta_proyecto:hover {
    transform: scale(1.05);
}


/*End Proyectos*/



/* formulario */
.container__form {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color:#B0BEC5;
    text-align: center; 
}

.container__form h1 {
    margin: auto;
    color: #473036;
}

form {
    padding: 20px;
    width: 260px;
    background-color: #bebebe;
    margin-left: 250px;
    margin-top: 50px;
    border: 2px solid #d0d0d0;
    border-radius: 20px;
    box-shadow: 0 0 0 rgba(199, 32, 32, 0);
    transition: transform 500ms ease, box-shadow 500ms ease;
    position: relative;
}

form::before {
    content: '';
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
    border: 5px solid transparent;
    border-radius: 20px; 
    box-shadow: 0 0 20px #47303680;
    transition: opacity 500ms ease;
    opacity: 0;
    pointer-events: none;
}

form:hover::before {
    opacity: 1;
}

form:hover {
    box-shadow: 0 20px 50px #47303680;
    transform: scale(1.05);
    border-radius: 20px;
}



label{
    display: block;
    margin-bottom: 5px;
    color: #32369f7d;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
    font-size: 16px;
    transition: background-color 500ms; 
}

input[type="submit"]:hover {
    background-color: #473036;
}

/* fin del formulario */




/*inicio del mapa*/
.mapa {
    height: 800px;
    align-items: center;
    margin-left: auto;
    display: flex;
    justify-content: center;
    
}
/*Fin del mapa*/


/* Footer */
.footer {
    background-color: #263238;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
}

.footer-section {
    flex: 1;
    margin: 20px;
}

.footer-section h3 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 16px;
    color: #ff7e5f;
}

.footer-section p, .footer-section ul, .footer-section a {
    color: #B0BEC5;
    text-decoration: none;
    font-size: 14px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a:hover {
    color: #ff7e5f;
}

.social-links a {
    margin: 0 10px;
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.social-links a:hover {
    color: #ff7e5f;
}
